@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

 
/*html,*/
 body {
 height: 100%;
 margin: 0;
 padding: 0;
 background: rgba(187, 155, 240, 0.3) ;
  /* Color de fondo para el resto de la pantalla */
  font-family: 'Montserrat', sans-serif;
}

#root {
  display: flex; /* Usar flexbox para el layout */
  flex-direction: column; /* Colocar elementos en columna */
  min-height: 100vh; /* Asegúrate de que el contenedor principal ocupe al menos toda la ventana */
}

.content {
  flex: 1; /* Esto permitirá que el contenido ocupe el espacio disponible */
}