@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

 
/*html,*/
 body {
 height: 100%;
 margin: 0;
 padding: 0;
 background: rgba(187, 155, 240, 0.3) ;
  /* Color de fondo para el resto de la pantalla */
  font-family: 'Montserrat', sans-serif;
}

#root {
  display: flex; /* Usar flexbox para el layout */
  flex-direction: column; /* Colocar elementos en columna */
  min-height: 100vh; /* Asegúrate de que el contenedor principal ocupe al menos toda la ventana */
}

.content {
  flex: 1; /* Esto permitirá que el contenido ocupe el espacio disponible */
}

/* Css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.principal{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container-tienda {
  padding: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color:black;
  width: 800px;
  height: auto;
  gap: 20px; /* Espacio entre los productos */
  padding:20px;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en filas nuevas si no caben horizontalmente */
  text-align: center;
  word-wrap: break-word; /* Permite que el texto se ajuste a varias líneas */
  vertical-align: middle; /* Centra verticalmente */
  overflow: hidden; /* Oculta el desbordamiento del contenido */

}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.buscador-input {
  width: 100%;
  border-radius: 16px;
  height: 30px;
  margin: 20px 0px;
}

/* Grid de productos */
.productos-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .productos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tarjeta de producto */
.producto-card {
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  padding: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.producto-imagen {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.producto-nombre {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color:#744fb1;
}

.producto-precio {
  font-family: 'Montserrat', sans-serif;
  color: #d93672;
  font-weight: 700;
}

.boton-agregar {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin-top: 0.5rem;
  background: rgba(187, 155, 240) ;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  max-width: 750px; /* Ancho máximo  */
  
}

.boton-agregar:hover {
  background-color: #d93672;
}

.boton-eliminar {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  border-color: white;
  color: #d93672;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.boton-eliminar:hover {
  font-family: 'Montserrat', sans-serif;
  background-color: #d93672;
  color: white;
}

.boton-categoria {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin-top: 0.5rem;
  background: #d93672;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  max-width: 200px; /* Ancho máximo  */
  height: 50px;
  font-size: 12px;
  font-weight: bold; /* Negrita */
  text-transform: uppercase; /* Mayúsculas */
  text-align: center;
  
}

.boton-categoria:hover {
  background-color: rgba(187, 155, 240) ;
}


.boton-servicios {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin-top: 0.5rem;
  background: #d93672;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  max-width: auto; /* Ancho máximo  */
  height: 50px;
  font-size: 18px;
  font-weight: bold; /* Negrita */
  text-transform: uppercase; /* Mayúsculas */
  text-align: center;
  
}

.boton-servicios:hover {
  background-color: rgba(187, 155, 240) ;
}

.boton-policies {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin-top: 0.5rem;
  background: rgba(187, 155, 240) ;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  max-width: 750px; /* Ancho máximo  */
  
}

.boton-policies:hover {
  background-color: #d93672;
}

/* Carrito */
.carrito {
  margin-top: 2rem;
  border: 7px dotted #d98997; /*el borde del carrito de compras */
  
}
.paratitulos{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:#d93672;
  margin-bottom: 20px;
  text-transform: uppercase;
}


.carrito h2 {
  font-family: 'Montserrat', sans-serif;
  color:#d93672;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  
}

.carrito-resumen {
  display: flex;
  align-items: center;
  

}

.carrito-icono {
  margin-right: 0.5rem;
}

.carrito-lista {
  margin-top: 0.5rem;
  
  
}

.carrito-item {
  color: #4a5568;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  flex: 1 1 150px; /* Cada producto ocupa al menos 150px de ancho */
  max-width: 300px; /* Ancho máximo para cada producto */
  border: 1px solid #ccc; /* Borde para los productos */
  padding: 20px;
  text-align: left;
  
}

.cart-container{   /* ESTE CONTAINER PARA LOS PRODUCTOS QUE APARECEN LISTADOS EN EL CARRITO DE COMPRAS*/ 
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en filas nuevas si no caben horizontalmente */
  gap: 20px; /* Espacio entre los productos */
  padding: 20px;
  background: rgba(187, 155, 240, 0.3) ;
  
}

.carrito-item-imagen {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-right: 0.5rem;

}

.carrito-total {
  margin-top: 0.5rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color:#d93672;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: right;
  margin-right: 1rem;
  
}

.producto-imagenes {
  max-width: 600px; 
  height: auto; 
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  width: 100%;
  
 
}

.producto-detalle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalle-imagen {
  width: 100%;
  height: 17rem;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  object-position: top;
}

.detalle-producto {
  width: 30%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* Estilos para el contenedor principal */
.crear-producto {
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(187, 155, 240, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(187, 155, 240, 0.7);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.crear-producto-info {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.crear-producto h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para el formulario */
.crear-producto form {
  display: flex;
  flex-direction: column;
}

.crear-producto form>div {
  margin-bottom: 15px;
}

/* Estilos para las etiquetas */
.crear-producto label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

/* Estilos para los inputs y textarea */
.crear-producto input,
.crear-producto textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.crear-producto textarea {
  height: 100px;
  resize: vertical;
}

/* Estilos para el botón de envío */
.crear-producto button {
  padding: 10px 15px;
  background: rgba(187, 155, 240) ;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.crear-producto button:hover {
  background-color: #d93672;
}

/* Estilos para los campos cuando están en foco */
.crear-producto input:focus,
.crear-producto textarea:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Estilos para campos inválidos */
.crear-producto input:invalid,
.crear-producto textarea:invalid {
  border-color: #ff6b6b;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .crear-producto {
    padding: 15px;
  }

  .crear-producto input,
  .crear-producto textarea,
  .crear-producto button {
    font-size: 14px;
  }
}

/* Etiqueta Item List */
.item-product {
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* Navbar */
.main-nav ul {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  
}
.main-nav {
  background-color: black;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  margin: 0;
}

.estilo-admin{
  color: #ffffff; 
  font-family: 'Montserrat', sans-serif;
}
.main-nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.main-nav a:hover,
.main-nav li.active a {
  background-color: #555;
}

@media (max-width: 600px) {
  .main-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .main-nav li {
    margin: 10px 0;
  }
}

.cattienda-table {
  width: 800px; /* Ajusta esto según el ancho que desees */
  margin: 0 auto; /* Centra la tabla */
  border-collapse: collapse; /* Para que las celdas compartan bordes */

}

.cattienda-table td {
  width: 20%; /* Cada columna tendrá el 20% del ancho, asegurando que se distribuyan equitativamente */
  text-align: center; /* Centra el contenido dentro de las celdas */
  padding: 10px; /* Añade algo de espacio dentro de las celdas */
  

  justify-content: center; /* Centra horizontalmente */
  
}

.cattienda-container {
  text-align: center;
  padding: 20px;
  
}

.catservicios-table {
  width: 800px; /* Ajusta esto según el ancho que desees */
  margin: 0 auto; /* Centra la tabla */
  border-collapse: collapse; /* Para que las celdas compartan bordes */
  
}

.catservicios-table td {
  width: 20%; /* Cada columna tendrá el 20% del ancho, asegurando que se distribuyan equitativamente */
  text-align: center; /* Centra el contenido dentro de las celdas */
  padding: 10px; /* Añade algo de espacio dentro de las celdas */
  border: 1px solid #ccc; /* Opcional: Añade un borde alrededor de las celdas */
  
}

.catservicios-container {
  text-align: center;
  padding: 20px;
  margin: 0 auto; /* Aplica margen automático a los lados para centrarlo */

  
}
.CATEGORIA-content {
  padding: 20px;
}
