 

/* General para el header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2; /* Color de fondo */
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
   
}

 
ul {
  list-style-type: none;
  display: flex; 
  margin: 0;
  padding: 0;
  overflow: hidden; 
  /*background-color: #bb9bf0;*/
  background:   rgba(187, 155, 240, 0.7) ;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
  
}

li a:hover {
  background-color: #d93672;  /* sombra  cuando paso el cursor por el link */
}

 


/* Navegación */
.nav {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  flex-grow: 1;
  text-align: right;
  display: marker;
  color: #bb9bf0;
}

.nav-links {

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  justify-content: center; /* centra el texto de la barra de navegacion */ 
  
}

.nav-links li {
  display: inline;
}

/* Estilos para los enlaces de navegación */
.nav-links a {
  text-decoration: none;
  color: #bb9bf0;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f8d9e0;
}

/* Ocultar el menú para pantallas pequeñas */
.mobile-menu-icon {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  
}

/* General para el header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #bb9bf0; /* Color de fondo */
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}



/* Contenedor del logo */
.logo-container {
  text-align: center;
  margin-top: 20px ;
  margin-right: 40px;
  margin-bottom: 10px;
}

/* Navegación */
.nav {
  flex-grow: 1;
  text-align: right;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  
}

.nav-links li {
  display: inline;
  
}

/* Estilos para los enlaces de navegación */
.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #f8d9e0; /* cambio color letras  */
}

/* Ocultar el menú para pantallas pequeñas */
.mobile-menu-icon {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

/* Responsive: Menú hamburguesa en pantallas pequeñas */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100px; /* Debajo del header */
    right: 0;
    background-color:  #bb9bf0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
  }

  .nav.mobile .nav-links {
    height: 410px; /* Ajusta la altura dependiendo del número de enlaces */
  }

  .nav-links li {
    margin: 10px 0;
  }
  .mobile-menu-icon {
    display: block;
  }

  .nav {
    text-align: center;
  }


 
}



