.home {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente (si el contenedor tiene altura fija o dinámica) */
    min-height: 50vh; /* Asegura que el contenedor ocupa al menos el 100% de la altura de la ventana */
    text-align: center; /* Centra el texto horizontalmente dentro del contenedor */
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el ancho y alto total del contenedor */
  }
  
  .home-image {
    max-width: 100%; /* Ajusta la imagen para que no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-top: 50px; /* Crea un espacio entre el texto y la imagen */
  }
  
 
 