.home-containerdescuentos {
  display: flex;
  flex-direction: column; /* Organiza los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  max-width: 800px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor */
  padding: 20px; /* Espacio interior */
}


.table-containerdescuentos {
  max-width: auto; /* Ancho máximo de la tabla */
  margin: 0 auto; /* Centra la tabla */
  padding: 20px; /* Espacio interior */
  display: flex;
  justify-content: center; /* Centra la tabla horizontalmente */
}

.my-tabledescuentos {
  border-collapse: collapse; /* Cambia a 'separate' para aplicar border-spacing */
  border-spacing: 20px; /* Espacio entre columnas */
  width: 50%; /* O el tamaño deseado */
}

.my-table td {
  padding: 50px; /* Espacio interior de las celdas */
  border: 20px solid #ccc; /* Borde para las celdas */
  text-align: center; /* Centra el contenido en las celdas */
}
 

.sale-container {
  display: center;
  justify-content: center; /* Centra la imagen en el contenedor */
}

.my-image {
 
  height: 700px; /* Mantiene la proporción de la imagen */
  max-width: 100%; /* Evita que la imagen exceda el ancho del contenedor */
} 


 

.celda{  /*Para que las imagenes del slider roten sin cambiar el tamaño de la tabla*/ 
  width: 50%; /* O el ancho que desees */
  max-width: 800px; /* Ajusta el tamaño máximo del slider */
  height: 800px; /* Altura fija para el slider */
  overflow: hidden; /* Asegúrate de que no se muestren imágenes fuera del contenedor */
  position: relative; /* Para posicionar elementos internos */
  object-fit: cover;
} 

.celdatexto{

  color:#d93672;
  
    width: 200px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    word-wrap: break-word; /* Permite que el texto se ajuste a varias líneas */
  
  
 }

 .texto{
 
  padding: auto;
  margin: 0;
  display: flex;
  gap: 15px;
  justify-content: left;
  color:black;
  text-align: center;
  vertical-align: middle;
  color:black;
  padding:10px;
  vertical-align: middle;
  text-align: center;
  word-wrap: break-word; /* Permite que el texto se ajuste a varias líneas */

 }

.h3i{
        color:black;
        width: 500px;
        height: 300px;
        padding:10px;
        vertical-align: middle;
        text-align: center;
        word-wrap: break-word; /* Permite que el texto se ajuste a varias líneas */
  }