

.tablasobremi{
  max-width: auto; /* Ancho máximo de la tabla */
  margin: 0 auto; /* Centra la tabla */
  padding: 10px; /* Espacio interior */
  display: flex;
  justify-content: center; /* Centra la tabla horizontalmente */
}

.celdatexto1{
   
    display: flex;
    justify-content: center;
    border: 7px dotted #d98997;
    
   }

   .celdita{  /*la foto*/ 
    width: 50%; /* ancho */
    max-width: auto; /* Ajusta el tamaño máximo   */
    height: auto; /* Altura fija  */
    position: relative; /* Para posicionar elementos internos */
    object-fit: cover;
  } 

  .h3i{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color:black;
    width: 400px;
    height: 500px;
    padding:10px;
    text-align: center;
    word-wrap: break-word; /* Permite que el texto se ajuste a varias líneas */
    vertical-align: middle; /* Centra verticalmente */
    overflow: hidden; /* Oculta el desbordamiento del contenido */
}

 
  p {
    font-family: 'Montserrat', sans-serif;
  }
 