.policies-container {
    width: 80%;
    margin: 0 auto;
    
  }
  
  .policies-table {
    width: 100%;
    table-layout: fixed;
    margin: 0 auto; /* Centra la tabla */
    padding: 20px; /* Espacio interior */
    display: flex;
    justify-content: center; /* Centra la tabla horizontalmente */
    max-width: 1200px; /* Evita que la tabla crezca demasiado en pantallas grandes */
    table-layout: fixed; /* Hace que las columnas mantengan su tamaño */
    border-collapse: collapse; /* Opcional: elimina el espacio entre celdas */
  }
  
  .left-column {
    width: 30%;
    vertical-align: top;
    padding-right: 20px;
  }
  
  .right-column {
    width: 70%;
    vertical-align: top;
  }
  
  button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  .policy-content {
    padding: 10px;
    border-left: 1px solid #ccc;
  }
  
